.header-conteiner { 
    background-color: rgba(9, 65, 116, 1);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    z-index: 0;
}

.chat-btn { 
    background: none;
    border: 1px solid gray;
    border-radius: 31px;
    width: 40px;
    height: 40px;
}

.arrow { 
    border: 0;
}